<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tomato.oceanmusic">

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:name=".utils.DataCenter"
        android:allowBackup="true"
        android:icon="@drawable/ic_fragment_song"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PlayingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AlbumListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ArtistListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.MusicService" />

        <receiver android:name=".receivers.NextMusicReceiver">
            <intent-filter>
                <action android:name="ACTION_NEXT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PlayPauseMusicReceiver">
            <intent-filter>
                <action android:name="ACTION_PLAY_PAUSE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PrevMusicReceiver">
            <intent-filter>
                <action android:name="ACTION_PREV" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.PlayingQueenActivity"></activity>
    </application>

</manifest>